@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap');


$color-primary: #ffbb0e;
$red: #e74f4f;
$softOrange: rgba(255,287,14,0.13);

$font: "Raleway", serif;
$title: 50px;
